@use 'variables' as v; 

/** Media Queries **/
@mixin phone {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin button($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.25rem 2.5rem;
    color: $colorTexto;
    margin-block-start: .625rem;
    border-radius: 1.875rem;
    font-size: 1.25rem;
    font-weight: 700;
    display: block;

    @include tablet {
        display: inline-block;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}


@mixin format($img) {
    @supports(background-image: $img) {
        background-image: $img;
    }
} 

@mixin scrollHorizontal {
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    > * {
        scroll-snap-align: center;
    }
}